# PostgreSQL
db_user=pro
db_password=
db_backup_frequency=1d
max_db_backups=7
db_backups_path=./backup

# Application
session_secret= # Laisser vide : le script init.sh génère automatiquement la valeur
server_domain=server-uso.example.com
dashboard_domain=dashboard-uso.example.com
dashboard_url_path_prefix=/
access_allowed_ips="0.0.0.0/0,::/0"
http_proxy= # Laisser vide si pas de proxy, sinon exemple : http://proxy.example.com:8080

# SMTP
smtp_host=
smtp_port=
smtp_user=
smtp_password= 
smtp_sending_user=
smtp_allow_invalid_crt=false

# Let's Encrypt
letsencrypt_email=
