services:
  postgres:
    image: postgres:15.13
    container_name: uso.postgres
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: pro
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - 5432

  pg_backup:
    image: postgres:15.13
    container_name: uso.pg_backup
    environment:
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_BACKUP_FREQUENCY: ${DB_BACKUP_FREQUENCY}
      MAX_DB_BACKUPS: ${MAX_DB_BACKUPS}
    volumes:
      - ${DB_BACKUPS_PATH}:/backup
    command: >
      bash -u -c "sleep 10m
        while true; do
          PGPASSWORD=${DB_PASSWORD} pg_dump -h postgres -U ${DB_USER} -Fc pro > /backup/$(date +%Y-%m-%d-%H-%M-%S).dump
          echo \"Backup done at $(date +%Y-%m-%d_%H:%M:%S)\"
          ls -1 /backup/*.dump | head -n -${MAX_DB_BACKUPS} | xargs rm -f
          sleep ${DB_BACKUP_FREQUENCY}
        done"
    depends_on:
      - postgres

  server:
    image: ghcr.io/rgsystemes/upsignon-docker/server:latest
    container_name: uso.server
    pull_policy: always
    restart: always
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: pro
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASSWORD}
      PRO_API_PUBLIC_HOSTNAME: ${SERVER_DOMAIN}
      PRO_SESSION_SECRET: ${SESSION_SECRET}
      PRO_SERVER_PORT: 3000
      PERSO_SERVER_URL: https://app.upsignon.eu
      HTTP_PROXY: ${HTTP_PROXY}
      USE_POSTFIX: false
      PRO_NODE_ENV: production
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_USER: ${SMTP_USER}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
      SMTP_SENDING_USER: ${SMTP_SENDING_USER}
      SMTP_ALLOW_INVALID_CRT: ${SMTP_ALLOW_INVALID_CRT}
    labels:
      - traefik.enable=true
      - traefik.http.services.server.loadbalancer.server.port=3000
      - traefik.http.routers.server.rule=Host(`${SERVER_DOMAIN}`) && PathPrefix(`/`)
      - traefik.http.routers.server.entrypoints=websecure
      - traefik.http.routers.server.tls.certresolver=le
      - traefik.http.routers.server.middlewares=server-ip,server-headers
      - traefik.http.middlewares.server-headers.headers.customrequestheaders.X-Real-IP=true
      - traefik.http.middlewares.server-headers.headers.customrequestheaders.X-Forwarded-Proto=https
      - traefik.http.middlewares.server-headers.headers.customresponseheaders.X-Frame-Options=DENY
      - traefik.http.middlewares.server-headers.headers.customresponseheaders.X-XSS-Protection=1; mode=block
      - traefik.http.middlewares.server-headers.headers.customresponseheaders.X-DNS-Prefetch-Control=off
      - traefik.http.middlewares.server-headers.headers.customresponseheaders.X-Download-Options=noopen
      - traefik.http.middlewares.server-headers.headers.customresponseheaders.X-Content-Type-Options=nosniff
      - traefik.http.middlewares.server-headers.headers.customresponseheaders.X-Permitted-Cross-Domain-Policies=none
      - traefik.http.middlewares.server-headers.headers.customresponseheaders.Strict-Transport-Security=max-age=15552000; includeSubDomains; preload; always
    expose:
      - 3000
    depends_on:
      - postgres

  dashboard:
    image: ghcr.io/rgsystemes/upsignon-docker/dashboard:latest
    container_name: uso.dashboard
    pull_policy: always
    restart: always
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: pro
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASSWORD}
      DASHBOARD_SESSION_SECRET: ${SESSION_SECRET}
      PRO_DASHBOARD_PUBLIC_URL: https://${DASHBOARD_DOMAIN}${DASHBOARD_URL_PATH_PREFIX}
      PRO_DASHBOARD_PORT: 3001
      HTTP_PROXY: ${HTTP_PROXY}
      USE_POSTFIX: false
      PRO_NODE_ENV: production
    labels:
      - traefik.enable=true
      - traefik.http.services.dashboard.loadbalancer.server.port=3001
      - traefik.http.routers.dashboard.rule=Host(`${DASHBOARD_DOMAIN}`) && PathPrefix(`${DASHBOARD_URL_PATH_PREFIX}`)
      - traefik.http.routers.dashboard.entrypoints=websecure
      - traefik.http.routers.dashboard.tls.certresolver=le
      - traefik.http.routers.dashboard.middlewares=dashboard-strip,dashboard-ip,dashboard-headers
      - traefik.http.middlewares.dashboard-strip.stripprefix.prefixes=${DASHBOARD_URL_PATH_PREFIX}
      - traefik.http.middlewares.dashboard-ip.ipallowlist.sourcerange=${ACCESS_ALLOWED_IPS}
      - traefik.http.middlewares.dashboard-headers.headers.customrequestheaders.X-Real-IP=true
      - traefik.http.middlewares.dashboard-headers.headers.customrequestheaders.X-Forwarded-Proto=https
      - traefik.http.middlewares.dashboard-headers.headers.customresponseheaders.X-Frame-Options=DENY
      - traefik.http.middlewares.dashboard-headers.headers.customresponseheaders.X-XSS-Protection=1; mode=block
      - traefik.http.middlewares.dashboard-headers.headers.customresponseheaders.X-DNS-Prefetch-Control=off
      - traefik.http.middlewares.dashboard-headers.headers.customresponseheaders.X-Download-Options=noopen
      - traefik.http.middlewares.dashboard-headers.headers.customresponseheaders.X-Content-Type-Options=nosniff
      - traefik.http.middlewares.dashboard-headers.headers.customresponseheaders.X-Permitted-Cross-Domain-Policies=none
      - traefik.http.middlewares.dashboard-headers.headers.customresponseheaders.Strict-Transport-Security=max-age=15552000; includeSubDomains; preload; always
    expose:
      - 3001
    depends_on:
      - postgres
      - server

  traefik:
    image: traefik:3.6.4
    container_name: uso.traefik
    restart: always
    ports:
      - 443:443
    command:
      - --log.level=INFO
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.websecure.address=:443
      - --certificatesresolvers.le.acme.tlschallenge=true
      - --certificatesresolvers.le.acme.email=${LETSENCRYPT_EMAIL}
      - --certificatesresolvers.le.acme.storage=/letsencrypt/acme.json
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./letsencrypt:/letsencrypt
    depends_on:
      - postgres
      - server
      - dashboard

volumes:
  pgdata:
